fastapi
uvicorn
sqlmodel
uiautomator2
pydantic
Pillow
jinja2
findit
opencv-python
adbutils
python-jose[cryptography]
passlib[bcrypt]
python-multipart
apscheduler
httpx
bcrypt==4.0.1
websockets>=11.0
openai>=1.0
androguard
